@model Application.ViewModel.ManageRolesViewModel
<h2>Manage Roles for @Model.Email</h2>

<form asp-action="UpdateRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <div>
        @foreach (var role in Model.AllRoles)
        {
            <div>
                <input type="checkbox" name="selectedRoles" value="@role"
                       @(Model.AssignedRoles.Contains(role) ? "checked" : "") />
                <label>@role</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-success mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#addProductModal">Update Roles</button>
</form>

<a asp-action="ManageRolesOprations">Back to User List</a>

